services:
  postgres:
    image: postgres:18
    environment:
      - POSTGRES_USER=test_work
      - POSTGRES_PASSWORD=test_work_password_qwerty
      - POSTGRES_DB=test_work
    ports:
      - "5432:5432"
    command: >
      postgres
      -c shared_buffers=256MB
      -c effective_cache_size=1GB
      -c work_mem=8MB
      -c max_connections=100
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - backend_network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: test_work
      DB_PASSWD: test_work_password_qwerty
      DB_NAME: test_work
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "3000:3000"
    networks:
      - backend_network    
    restart: always

networks:
  backend_network:
    driver: bridge